<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>company</title>
</head>
<body>
<a href="/addEmployee">Add Employee</a><br>
All employees
<table border="1">
    <tr>
        <th>name</th>
        <th>surname</th>
        <th>email</th>
        <th>phone-Number</th>
        <th>salary</th>
        <th>position</th>
        <th>company</th>
        <th>picture</th>

    </tr>
    <tr th:each="employee:${employees}">
        <td th:text="${employee.name}"></td>
        <td th:text="${employee.surname}"></td>
        <td th:text="${employee.email}"></td>
        <td th:text="${employee.phoneNumber}"></td>
        <td th:text="${employee.salary}"></td>
        <td th:text="${employee.position}"></td>
        <td th:text="${employee.company.name}"></td>
        <td>
            <div style="width: 55px; float:left;">
                <div>
                    <img th:if="${employee.picUrl != null}" th:src="@{/getImage(picName=${employee.picUrl})}" width="50" height="50"/>
                    <img th:if="${employee.picUrl == null}" src="/img.png" width="50" height="50"/>
                </div>
            </div>

        </td>


    </tr>
</table>
</body>
</html>